<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light fixed-top" id="mainNavbar">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">品渴茶鋪</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!-- <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">品渴茶鋪</a>
                        </li> -->
                        <li class="nav-item">
                        
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="News">News</a>
                        </li

                         <li class="nav-item">
                         
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Menu">Menu</a>
                        </li>

                         <li class="nav-item">
                         
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>

                         <li class="nav-item">
                          
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <!-- 常見問答 -->
                <div class="col-md-3 col-sm-6 mb-4">
                    <h5 class="footer-title">常見問答</h5>
                    <ul class="footer-links">
                        <li><a href="#">購物流程</a></li>
                        <li><a href="#">退換貨政策</a></li>
                        <li><a href="#">運送政策</a></li>
                        <li><a href="#">隱私權政策</a></li>
                    </ul>
                </div>
                
                <!-- 聯絡我們 -->
                <div class="col-md-4 col-sm-6 mb-4">
                    <h5 class="footer-title">聯絡我們</h5>
                    <div class="contact-info">
                        <p class="company-name">品渴茶鋪飲品有限公司</p>
                        <p class="address">新北市板橋區湳雅夜市勝立百貨前</p>
                        <p class="email">信箱 / <a href="mailto:Pinkteasshop@gmail.com">Pinkteasshop@gmail.com</a></p>
                    </div>
                </div>
                
                <!-- 社群媒體 -->
                <div class="col-md-3 col-sm-6 mb-4">
                    <h5 class="footer-title">關注我們</h5>
                    <div class="social-links">
                        <a href="#" class="social-link facebook" title="Facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-link instagram" title="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" class="social-link x" title="X">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
                
                <!-- 版權資訊 -->
                <div class="col-md-2 col-sm-6 mb-4">
                    <div class="copyright">
                        <p>&copy; 2025 品渴茶鋪</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <script>
        // 導航欄滾動效果
        $(window).scroll(function() {
            var scroll = $(window).scrollTop();
            var navbar = $('#mainNavbar');
            
            if (scroll > 50) {
                navbar.addClass('scrolled');
            } else {
                navbar.removeClass('scrolled');
            }
        });
        
        // 平滑滾動到錨點
        $('a[href^="#"]').on('click', function(event) {
            var target = $(this.getAttribute('href'));
            if (target.length) {
                event.preventDefault();
                $('html, body').stop().animate({
                    scrollTop: target.offset().top - 70
                }, 1000);
            }
        });
    </script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
